#contentItem{
	position: absolute;
	left: 350px;
	top:60px;
	/*background: red;*/
}
#contentItem .contentItem-item{
	width: 1100px;
	height: 700px;
}
#leftContent{
	float: left;
}
#usersList th,#usersList th td{
	text-align: center;
}

.pageBtn{
	display: block;
    background: rgba(33, 150, 243, 0.76);
    height: 30px;
    line-height: 30px;
    width: 70px;
    text-align: center;
    color:#fff;
}