<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>主页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/public.css">
  <link rel="stylesheet" href="calendar/css/calendar.css">
  <script src="/jquery-3.1.1.min.js"></script>
  <script src="javascripts/publiclayer.js"></script>
  <script src="javascripts/index.js"></script>
</head>
<body>
<ul class="layui-nav" style="border-bottom: 1px solid red;">
  <li class="layui-nav-item" ><a href="">NodeJs</a></li>
  <li class="layui-nav-item"><a href="">CSS</a></li>
  <li class="layui-nav-item"><a href="">JavaScript</a></li>
  <li class="layui-nav-item"><a href="">HTML</a></li>
  <li class="layui-nav-item"><a href="">全部文章</a></li>
  <div id="regShow">
    <li><a href="javascript:;" class="reg">注册</a></li>
    <li><a href="javascript:;" class="login">登陆</a></li>
  </div>
  <div id="loginShow">
    <li><a href="javascript:;" class="out">退出</a></li>
    <li>你好<span id="loginAdmin">管理员</span></li>
  </div>
</ul>
<!-- <div id="personNav">
    <div id="personFace"></div>
</div> -->
 
<div id="pageContent">
  <div id="bookContent">
  <!-- 文章卡片 -->
    <div id="articleTopContent">
      <div class="articleTitle">
          <h1>javascript简易手册</h1>
          <span>阅读(<em>0</em>)</span>
      </div>
      <div class="articleAutorPut">
        由放假啦放假啦睡觉了推送于2017年5月21号 2：46：25
      </div>
      <div class="articleabout">
        <p>本文介绍的是JavaScript，发生了啊施法时间了额我浪费v副书记发了</p>
      </div>
    </div>

    <div id="articleContent">
      
      　当时，煤炭行业正面临产能严重过剩、价格大幅下跌等问题，处于历史上少有的困难时期。去产能、改造升级传统产业成为总理此次山西考察最大的关切。

　　25岁的梁芮铭当时就面临着转岗分流的压力。在井下工作时，这个大学生发现煤矿安全隐患管理方式还和父辈时一样，停留在通过打电话、纸笔记录等进行管理的阶段。

　　“总理不都提倡‘互联网+’吗？我就想着开发一套依托互联网的安全隐患排查系统。”梁芮铭说。他和两名矿工组成创业团队，开发出煤矿隐患电子排查系统和煤矿安全知识微信学习系统。

　　梁芮铭的团队在山西焦煤“双创”中心里办公。这个山西首家国有企业双创基地是去年4月成立的，目前入驻企业近4/5由集团职工创办，孵化成功率近80%。

　　在那次煤矿考察中，李克强指出：“产业结构调整优化，不能只盯着老产业，更要注重发展新产业、新业态等新动能，打造‘双引擎’，为传统产业减少富余人员、拓展新的就业创造条件。”

　　循此思路，山西焦煤集团不仅成立了“双创”中心，还制定了系列扶持政策。包括明确职工创业孵化期2年内与原单位劳动关系不变，入驻企业孵化期间房租优惠，设立创业种子资金等。

　　和梁芮铭一样，井下技术员吕梁也是因为受到总理的鼓舞，成了一名“创客”。他还记得，总理在山西考察时说过，传统企业剥离、安置人员，必须要依靠“双创”等新业态、新模式，创造新的就业岗位。“看起来是小产业，实际上是大就业！”李克强当时说。

　　“这不就是国家给出的一个明确信号吗？”吕梁回忆起听了总理的话，“一下子就像被点燃了，看到了新的出路。”这个“老煤矿”加盟了一个线上线下结合的电子商务平台，团队的5人均为一线矿工。

　　如今，在山西焦煤“双创”中心，已有26家像梁芮铭和吕梁这样“煤亮子”创办的企业。一家由官地矿职工创办的“司机之家”项目，打造“互联网+出行”一站式用车服务平台，吸收了100多名转岗分流职工，同时服务集团专（兼）职司机900名。一家由霍州煤电丰裕煤业创业团队创办的文化传媒公司，去年创造产值640万元，实现利润101万元，安置集团40余名分流职工。

　　山西焦煤人力资源有限公司也入驻了“双创”中心，全面开展服务外包、技术服务等业务。今年3月，该公司通过对接有关单位，共提供了2387个就业岗位，1017人与招聘单位签订了协议。

　　2016年“两会”记者会上，美国彭博社记者向李克强提问：中国将如何解决好保持经济的一定增速以及避免可能会产生不稳定影响的下岗问题？

　　“我们必须做到产能要去，但大量职工的饭碗不能丢，而且争取让他们端上新饭碗。我们要做到的是‘双赢’，在去产能、促发展、稳就业之间达到一个平衡。”总理回答。

　　事实上，“煤亮子”们的“双创”故事正是最好的例证。

　　梁芮铭的团队如今扩大至13人，全都是一线矿工。他们开发的电子系统已被多家煤矿采用。梁芮铭注册成立了一家名为“山西秀才科技有限公司”的企业。之所以取这个名字，他说，“因为没人再喊我‘下煤窑’的了，现在大家都喊我梁秀才”！
    </div>
    <!-- 底部分页 -->
    <!-- <div id="footerPage"><div id="demo4"></div></div> -->


    <div id="footerTalkContent">
        <div class="talkinner">
            <div class="talkinnerTop">
              <div class="talkTitle">评论共<span>0</span>条</div>
              <div id="textareaTalk">
              <textarea name="" id="" cols="30" rows="10"></textarea>
              </div>
              <div class="talkLogin">你还没有登陆，<a href="javascript:;">点击登录</a></div>
            </div>
            <!-- 评论内容 -->
            <div id="talkInnerBottom">
              <div class="talkAuthor"><span>admin</span><span>2017年1月6日</span></div>
              <div class="employTalk">产生不稳定影响的下岗问题？ 　　“我们必须做到产能要去，但大量职工的饭碗不能丢，而且争取让他们端上新饭碗。我们要做到的是‘双赢’，在去产能、促发展、稳就业之间达到一个平衡。”总理回答。 　　事实上，“煤亮子”们的“双创”故事正是最好的例证。 　　梁芮铭的团队如今扩大至13人，全都是一线矿工。他们开发的电子系统已被多家煤矿采用。梁芮铭注册成立了一家名为“山西秀才科技有限公司”的企业。之所以取这个名字，他说，“因为没人再喊我‘下煤窑’的了，现在大家都喊我梁秀才”！</div>
            </div>
            <div id="talkInnerBottom">
              <div class="talkAuthor"><span>admin</span><span>2017年1月6日</span></div>
              <div class="employTalk">产生不稳定影响的下岗问题？ 　　“我们必须做到产能要去，但大量职工的饭碗不能丢，而且争取让他们端上新饭碗。我们要做到的是‘双赢’，在去产能、促发展、稳就业之间达到一个平衡。”总理回答。 　　事实上，“煤亮子”们的“双创”故事正是最好的例证。 　　梁芮铭的团队如今扩大至13人，全都是一线矿工。他们开发的电子系统已被多家煤矿采用。梁芮铭注册成立了一家名为“山西秀才产生不稳定影响的下岗问题？ 　　“我们必须做到产能要去，但大量职工的饭碗不能丢，而且争取让他们端上新饭碗。我们要做到的是‘双赢’，在去产能、促发展、稳就业之间达到一个平衡。”总理回答。 　　事实上，“煤亮子”们的“双创”故事正是最好的例证。 　　梁芮铭的团队如今扩大至13人，全都是一线矿工。他们开发的电子系统已被多家煤矿采用。梁芮铭注册成立了一家名为“山西秀才科技有限公司”的企业。之所以取这个名字，他说，“因为没人再喊我‘下煤窑’的了，现在大家都喊我梁秀才”！科技有限公司”的企业。之所以取这个名字，他说，“因为没人再喊我‘下煤窑’的了，现在大家都喊我梁秀才”！</div>
            </div>
        </div>

    </div>

<div style="height: 200px;"></div>
  </div>
  
  <!-- 右侧导航 -->
  <div id="rightContent">
      <div class="rightSearch">
        <form action="" class="layui-form" id="formSearch">
            <div class="layui-form-item">
              <i class="layui-icon" style="font-size: 20px;" id="righticon">&#xe615;</i>
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="搜一下又不会怀孕" class="layui-input" id="searchInput">
              </div>
              <button class="layui-btn">搜索</button>
        </form>
      </div>

      <!-- 日期选择器 -->
      <div class="rightTime"><div id="calendar" class="calendar"></div></div>


      <div class="rightNav">
          <ul class="layui-nav layui-nav-tree" lay-filter="demo">
            <li class="layui-nav-item layui-nav-itemed">
              <dl class="layui-nav-child">
                <dd style="border-bottom: 1px solid #eee;"><a href="javascript:;" style="color:#000;">NodeJs</a></dd>
                <dd style="border-bottom: 1px solid #eee;"><a href="javascript:;" style="color:#000;">CSS</a></dd>
                <dd style="border-bottom: 1px solid #eee;"><a href="javascript:;" style="color:#000;">JavaScript</a></dd>
                <dd style="border-bottom: 1px solid #eee;"><a href="javascript:;" style="color:#000;">HTML</a></dd>
                <dd style="border-bottom: 1px solid #eee;"><a href="javascript:;" style="color:#000;">全部文章</a></dd>
              </dl>
            </li>
          </ul>
      </div>
  </div>

</div>
  

<script src="/layui/layui.js"></script>
<script src="calendar/js/calendar.js"></script>
<script>
//     layui.use(['laypage','layer'],function(){
//       var laypage = layui.laypage,layer = layui.layer;
//           laypage({
//             cont: 'demo4'
//             ,pages: 100
//             ,first: false
//             ,last: false
//         });
// })
</script>
</body>
</html>