<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>主页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/public.css">
  <link rel="stylesheet" href="calendar/css/calendar.css">
  <script src="/jquery-3.1.1.min.js"></script>
  <script src="javascripts/publiclayer.js"></script>
  <script src="javascripts/index.js"></script>
</head>
<body>
<ul class="layui-nav" style="border-bottom: 1px solid red;">
  
  {% if category == '' %}

  <li class="layui-nav-item"><a style="border-left: 6px solid #522a5c;" href="/article">全部文章</a></li>
  {% else %}
  <li class="layui-nav-item"><a href="/article" class="layui-nav-item">全部文章</a></li>
  {% endif %}
  {% for _category in categories %}
  {% if category.toString()==_category._id.toString() %}

<li class="layui-nav-item"><a style="border-left: 6px solid #522a5c;" href="/article?category={{_category._id.toString()}}">{{_category.name}}</a></li>
{% else %}

<li class="layui-nav-item"><a href="/article?category={{_category._id.toString()}}">{{_category.name}}</a></li>

{% endif %}
{% endfor %}



  {% if userInfo._id %}
  <div id="loginShow">
    <li><a href="javascript:;" class="out">注销</a></li>
    {% if userInfo.isAdmin %}

    <li>管理员<span style="margin-left: 5px;margin-right: 5px">{{userInfo.username}}</span>你好，<span id="loginAdmin"><a href="/admin">进入管理</a></span>
    </li>

    {% else %}

    <li>{{userInfo.username}}</li>
    {% endif %}
  </div>
  
  {% else %}
  <div id="regShow">
    <li><a href="javascript:;" class="reg">注册</a></li>
    <li><a href="javascript:;" class="login">登陆</a></li>
  </div>
  {% endif %}
</ul>
<div id="personNav">
    <div id="personFace"></div>
</div>
 
<div id="pageContent">
  <div id="bookContent">

  {% for content in contents %}
  
  <a href="/view?contentid={{content.id}}">
    <div class="bookDetailContent">
        <div class="detailLeft">
            <div class="detailDate">{{content.date}}</div>
            <div class="detailTitle">{{content.category.name}}</div>
        </div>

        <div id="bookTitle"><h1>{{content.title}}</h1></div>
        <div id="bookAuthor">{{content.user.username}}</div>
        <div id="book"><p>{{content.content}}</p></div>
      <div id="bookFooter">文章推送于{{content.date}}</div>
    </div>

  </a>
  
  
  

  {% endfor %}
    <!-- 底部分页 <div id="demo4"></div>-->
    <div id="footerPage">

{% if pages>0 %}
 <li><a href="/article?category={{category.toString()}}&page=1">第一页</a></li>
   {% if page-1!==0 %}
  <li><a href="/article?category={{category.toString()}}&page={{page-1}}">上一页</a></li>
  {%endif%}

  <li style="background:rgb(166,96,183);"><a style="color:#fff;"  href="javascript:;">{{page}}/{{pages}}</a></li>
{% if page+1<=pages %}
<li><a href="/article?category={{category.toString()}}&page={{page+1}}">下一页</a></li>
{% endif %}
<li><a href="/article?category={{category.toString()}}&page={{pages}}">最后页</a></li>
{% else %}
<li style="width: 100%;text-align: center;">当前分类没有任何文章！</li>
{% endif %}



    </div>
  </div>
  
  <!-- 右侧导航 -->
  <div id="rightContent">
      <div class="rightSearch">
        <form action="" class="layui-form" id="formSearch">
            <div class="layui-form-item">
              <i class="layui-icon" style="font-size: 20px;" id="righticon">&#xe615;</i>
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="搜一下又不会怀孕" class="layui-input" id="searchInput">
              </div>
              <button class="layui-btn">搜索</button>
        </form>
      </div>

      <!-- 日期选择器 -->
      <div class="rightTime"><div id="calendar" class="calendar"></div></div>

<!-- 右侧导航栏 -->
      <div class="rightNav">
          <ul class="layui-nav layui-nav-tree" lay-filter="demo">

  {% for _category in categories %}
  {% if category.toString()==_category._id.toString() %}

<li class="layui-nav-item"><a style="border-left: 6px solid #522a5c; color:#000" href="/article?category={{_category._id.toString()}}">{{_category.name}}</a></li>
{% else %}

<li class="layui-nav-item"><a href="/article?category={{_category._id.toString()}}" style="color:#000">{{_category.name}}</a></li>

{% endif %}
{% endfor %}
          </ul>
      </div>
  </div>

</div>
  

<script src="/layui/layui.js"></script>
<script src="calendar/js/calendar.js"></script>
<script>
//     layui.use(['laypage','layer'],function(){
//       var laypage = layui.laypage,layer = layui.layer;
//           laypage({
//             cont: 'demo4'
//             ,pages: 100
//             ,first: false
//             ,last: false
//         });
// })
</script>
</body>
</html>