{% extends 'layout.html'%}

{% block main %}
<h1 style="text-align: center;font-size: 30px;margin-top: 30px;margin-bottom: 20px;">用户列表</h1><small>(第{{page}}页)</small>
<table class="layui-table" lay-skin="line">
  <colgroup>
    <col width="200">
    <col width="200">
    <col width="200">
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>id</th>
      <th>用户名</th>
      <th>密码</th>
      <th>是否管理员</th>
    </tr>
  </thead>
  <tbody>
        {% for data in data %}
        <tr>
            <td>{{data._id.toString()}}</td>
            <td>{{data.username}}</td>
            <td>{{data.password}}</td>
            <td>
                {% if data.isAdmin %} 是 {% else %} 不是 {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<p class="table-info">一共有{{count}}个用户，每页显示{{limit}}个。</p>
{% include 'page.html' %}
{% endblock %}